.progressionTable {
  border-collapse: collapse;
}

.progressionTable th.raidName {
  background-color: #205c90;
}

.goodBreed {
  background-color: #e4f3d3 !important;
  text-align: center;
}
.neutralBreed {
  background-color: #ffffbf !important;
  text-align: center;
}
.badBreed {
  background-color: #ffbfbf !important;
  text-align: center;
}

td.Legendary { color: #f70; }
td.Epic { color: #c444ee; }
td.Rare { color: #1c8eee; }
td.Uncommon { color: #10b807; }
td.Common { color: #f; }
td.Poor { color: #888; }

.progressionTable th,
.progressionTable td {
  width: 90px;
  height: 25px;
  border: 1px solid black;
  text-align: center;
  font-size: 11px;
  line-height: 1em;
}

.progressionTable th {
  background-color: White;
}
  
.killed {
  background-color:#8CBCD1;
}

.notKilled {
  background-color:#dddddd;
}

.wowcharinfo {
  float: right;
  margin-right: 1em;
}

.avatarFrame {
  font-weight: bold;
  border: 1px solid black;
  padding: 1em;
  width: 400px;
  background-color: #dddddd;
}

contenttype-rbg-item {
    background: url("contenttypes-sprite.png") no-repeat scroll 0 -1292px transparent;
}