.gear-icon {
  float: right;
}

div.boss-item {
  display: inline-block;
  padding: 2px;
  border: 1px dotted #aaa;
  margin: 2px;
}

div.boss-item a {
  display: inline-block;
}

div.gear-status-looted {
  border: 2px solid green !important;
}

div.gear-status-downgrade {
  background-color: #aaa;
}

#gear-toggles {
  float: right;
}

.strikethrough {
  text-decoration: line-through;
}